/***********************************************************************************
 * PAGE LAYOUT
 ***********************************************************************************/

html {
	position: relative;
}
body,html {
	min-height: 100%;
	min-width: 622px;
	margin: 0;
	padding: 0;
	background: url(../images/top/left_bg.jpg) repeat-y top left;
	font-family: arial;
	font-size: 12px;
}

.header {
	background: url(../images/top/top_left.jpg) repeat-x top left;
	overflow: hidden;
	white-space: nowrap;
    height: 89px;
}

.header .logo {
	background: url(../images/ispcp_webhosting.png) no-repeat 90px 0;
}

.location {
	background: #000 url(../images/top/top_bar_bg.jpg) repeat-x top left;
	color: #fff;
	padding-left: 197px;
	height: 25px;
    line-height: 25px;
	position: relative;
	overflow: visible;
}

.body {
	margin: 0 20px 0 240px;
}

.footer {
	position: absolute; 
	bottom: 10px;
	text-align: center;
	color: #fff;
	width: 197px;
    left: 0;
}

/***********************************************************************************
 * GENERAL INTERFACE STYLES
 ***********************************************************************************/

h2 {
	font-family: Geneva,Arial,Helvetica,sans-serif;
	font-size: 18px;
	font-variant: small-caps;
	font-weight: bold;
	position: relative;
	left: -33px;
	padding-left: 33px;
	height: 33px;
	background: url(../images/content/content_sprite.png) no-repeat;
	margin: 1em 0 0;
}
h2 span {
	display: block;
	border-bottom: 1px solid #ccc;
	margin-right: -33px;
}
h3 {
    
}

form {
    margin: 0.5em 0;
}

p {
    	margin: 0 0 1em;
}

a {
	text-decoration: none;
    color: #009;
    outline: none;
}
a:hover, a:focus {
	text-decoration: underline;
}

.message {
    margin: 2em 1em 1em;
    border: 1px solid rgb(149,74,0);
    background: rgb(255,236,156);
    padding: 1em;
    color: rgb(149,74,0);
    text-align: center;
}
.message p {
    margin: 0;
}
.icon {
    background: transparent url(../images/icons/icons_sprite.png) top left no-repeat;
    padding-left: 20px;
    height: 16px;
    line-height: 16px;
    display: -moz-inline-block;
    display: inline-block;
    margin: 0 5px;
    float: right;
}
table .icon {
    float: none;
}

.paginator {
    margin: 0.5em 0;
    overflow: hidden;
}
.paginator .icon {
    width: 0px;
    overflow: hidden;
    height: 20px;
}

/***********************************************************************************
 * LOCATION BAR STYLES
 ***********************************************************************************/

.location-area {
	position: absolute;
	left: 0;
	top: -5px;
    margin: 0;
    padding: 0;
    height: 33px;
}
.location-area h1 {
	font-size: 13px;
	padding: 0;
	line-height: 33px;
    height: 33px;
	padding-left: 35px;
	margin: 0 0 0 10px;
	background: url(../images/menu/menu_sprite_hover.png) no-repeat;
}
.location-menu {
	float: right;
	margin-right: 10px;
}
.location-menu a {
	color: #f00;
    font-weight: bold;
}

/***********************************************************************************
 * MAIN MENU STYLE
 ***********************************************************************************/
.main_menu {
    float: right;
	background: url(../images/top/mainmenu_left.png) no-repeat top left #000;
	height: 64px;
    text-align: right;
    _width: 3px;
}
.main_menu ul {
	margin: 0 0 0 11px;
	padding: 0 10px 0 0;
	background: url(../images/top/mainmenu_bg.png) repeat-x top left;
	height: 64px;
}
.main_menu li {
	margin: 0;
	padding: 0;
	display: inline;
}
.main_menu a {
	margin: 10px 0 0 5px;
	display: inline-block;
	padding: 33px 0 0;
	color: #fff;
	background: url(../images/menu/menu_sprite.png) no-repeat;
    text-align: center;
}

/* Firefox 1.x/2.x hack because they don't support inline-block! */
.main_menu a, x:-moz-any-link {
    float: left;
    display: block;
}
.main_menu a, x:-moz-any-link, x:default {
    float: none;
    display: inline-block;
}
/******* end of hack ******/

.main_menu a:hover {
	text-decoration: underline;
	background-image: url(../images/menu/menu_sprite_hover.png);
}

/***********************************************************************************
 * LEFT MENU STYLE
 ***********************************************************************************/
.left_menu {
	color: #fff;
	width: 197px;
	float: left;
	padding-bottom: 60px;
}
.left_menu ul {
	margin: 10px 0;
	padding: 0;
	list-style: none;
}
.left_menu li {
	margin: 0;
	padding: 0;
    display: inline;
}
.left_menu a {
	color: #fff;
	display: block;
	padding: 5px 20px;
}
.left_menu table {
	width: 100%;
	border-collapse: collapse;
	margin: 10px 0;
}
.left_menu th {
	background: #000;
	padding: 5px 0 5px 20px;
	text-align: left;
	font-size: 12px;
}
.left_menu td {
	padding: 5px 0 5px 20px;
}

/***********************************************************************************
 * BODY STYLE
 ***********************************************************************************/

.body table {
    width: 100%;
    border-collapse: collapse;
}
.body tr {
    border: 1px solid rgb(223,223,223);
    background: #eee;
}
.body tr:nth-child(odd) {
    background: #fff;
}
.body th {
    background: #000 url(../images/content/tableheader.jpg) repeat-x;
    white-space: nowrap;
    color: #fff;
    font-weight: bold;
    text-align: left;
    padding: 5px;
}
.body td {
    padding: 5px;
    white-space: nowrap;
}
fieldset {
    padding: 0;
    margin: 0 0 1em;
    border: none;
}
legend {
    display: none;
}


/***********************************************************************************
 * ICONS
 ***********************************************************************************/

/* Main menu icons */
.main_menu .custom_link { background-position: center 0; }
.main_menu .database { background-position: center -80px; }
.main_menu .domains { background-position: center -160px; }
.main_menu .email { background-position: center -240px; }
.main_menu .ftp { background-position: center -320px; }
.main_menu .general { background-position: center -400px; }
.main_menu .hosting_plans { background-position: center -480px; }
.main_menu .manage_users { background-position: center -560px; }
.main_menu .purchasing { background-position: center -640px; }
.main_menu .settings { background-position: center -720px; }
.main_menu .statistics { background-position: center -800px; }
.main_menu .support { background-position: center -880px; }
.main_menu .webtools { background-position: center -960px; }
/* Left menu heading icons */
.location .custom_link { background-position: 0 0; }
.location .database { background-position: 0 -80px; }
.location .domains { background-position: 0 -160px; }
.location .email { background-position: 0 -240px; }
.location .ftp { background-position: 0 -320px; }
.location .general { background-position: 0 -400px; }
.location .hosting_plans { background-position: 0 -480px; }
.location .manage_users { background-position: 0 -560px; }
.location .purchasing { background-position: 0 -640px; }
.location .settings { background-position: 0 -720px; }
.location .statistics { background-position: 0 -800px; }
.location .support { background-position: 0 -880px; }
.location .webtools { background-position: 0 -960px; }
/* Content icons (table_icons) */
.body .adminlog { background-position: 0 0; }
.body .billing { background-position: 0 -75px; }
.body .debugger { background-position: 0 -149px; }
.body .diskusage { background-position: 0 -224px; }
.body .doc { background-position: 0 -299px; }
.body .domains { background-position: 0 -374px; }
.body .email { background-position: 0 -449px; }
.body .errors { background-position: 0 -524px; }
.body .flash { background-position: 0 -599px; }
.body .ftp { background-position: 0 -674px; }
.body .general { background-position: 0 -749px; }
.body .hdd { background-position: 0 -824px; }
.body .htaccess { background-position: 0 -899px; }
.body .ip { background-position: 0 -974px; }
.body .layout { background-position: 0 -1049px; }
.body .maintenancemode { background-position: 0 -1124px; }
.body .multilanguage { background-position: 0 -1199px; }
.body .no { background-position: 0 -1274px; }
.body .password { background-position: 0 -1349px; }
.body .purchasing { background-position: 0 -1424px; }
.body .serverstatus { background-position: 0 -1499px; }
.body .settings { background-position: 0 -1574px; }
.body .sql { background-position: 0 -1649px; }
.body .stats { background-position: 0 -1724px; }
.body .support { background-position: 0 -1799px; }
.body .systeminfo { background-position: 0 -1874px; }
.body .tools { background-position: 0 -1949px; }
.body .traffic { background-position: 0 -2024px; }
.body .update { background-position: 0 -2099px; }
.body .user { background-position: 0 -2174px; }
.body .users { background-position: 0 -2249px; }
.body .users2 { background-position: 0 -2324px; }
/* Content icons (link icons) */
.i_add_user { background-position: 0 0; }
.i_awstatsicon { background-position: 0 -66px; }
.i_backupicon { background-position: 0 -162px; }
.i_bc_folder { background-position: 0 -258px; }
.i_bc_locked { background-position: 0 -330px; }
.i_bc_parent { background-position: 0 -402px; }
.i_change_password { background-position: 0 -474px; }
.i_close_interface { background-position: 0 -540px; }
.i_database_big { background-position: 0 -606px; }
.i_database_small { background-position: 0 -688px; }
.i_db_comit { background-position: 0 -756px; }
.i_delete { background-position: 0 -822px; }
.i_details { background-position: 0 -888px; }
.i_disabled { background-position: 0 -954px; }
.i_document { background-position: 0 -1020px; }
.i_domain_big { background-position: 0 -1086px; }
.i_domain_icon { background-position: 0 -1168px; }
.i_edit { background-position: 0 -1234px; }
.i_email_big { background-position: 0 -1300px; }
.i_error { background-position: 0 -1382px; }
.i_error401 { background-position: 0 -1448px; }
.i_error403 { background-position: 0 -1542px; }
.i_error404 { background-position: 0 -1636px; }
.i_error500 { background-position: 0 -1730px; }
.i_error503 { background-position: 0 -1824px; }
.i_errordocsicon { background-position: 0 -1918px; }
.i_filemanagericon { background-position: -96px 0; }
.i_ftp_account { background-position: -96px -96px; }
.i_ftp_big { background-position: -96px -162px; }
.i_general_big { background-position: -96px -244px; }
.i_goto { background-position: -96px -326px; }
.i_help { background-position: -96px -392px; }
.i_hide_alias { background-position: -96px -458px; }
.i_hosting_plans_big { background-position: -96px -524px; }
.i_htaccessicon { background-position: -96px -606px; }
.i_identity { background-position: -96px -702px; }
.i_locale { background-position: -96px -768px; }
.i_logout_interface { background-position: -96px -834px; }
.i_mail_icon { background-position: -96px -900px; }
.i_manage_users_big { background-position: -96px -966px; }
.i_next { background-position: -96px -1048px; }
.i_next_gray { background-position: -96px -1118px; }
.i_ok { background-position: -96px -1188px; }
.i_pma { background-position: -96px -1254px; }
.i_prev { background-position: -96px -1320px; }
.i_prev_gray { background-position: -96px -1390px; }
.i_purchasing_big { background-position: -96px -1460px; }
.i_reload { background-position: -96px -1542px; }
.i_settings_big { background-position: -96px -1607px; }
.i_show_alias { background-position: -96px -1689px; }
.i_statistics_big { background-position: -96px -1755px; }
.i_stats { background-position: -96px -1837px; }
.i_support_big { background-position: -96px -1903px; }
.i_users { background-position: -192px 0; }
.i_webmailicon { background-position: -192px -72px; }
.i_webtools_big { background-position: -192px -168px; }